<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Abstraction Layer - Free Code Camp</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/client.js"></script>
  </head>
  <body>
    <header>
      <h1>
        Image Search Abstraction Layer
      </h1>
    </header>

    <main>
      <p class="bold">
        by <a href = "https://atalero.github.io/" target="blank">Andres Talero</a>
      </p>
      <p>
        Call the API at<strong> https://image-search-andres.glitch.me/&ltcall&gt</strong>,  <br />  <br /> where <strong>&ltcall&gt</strong> is one of the following:
      </p>
      <ul>
        <li><strong>imagesearch/&ltsearchterm&gt</strong>, where <strong>&ltsearchterm&gt</strong> is your search keywords (spaces are valid!)</li>
        <li><strong>recentsearches</strong> to view all previous searches made using this microservice</li> 
      </ul>
      <p>
        You may add the <strong>page</strong> parameter to switch pages, if it is not added to the URL then you are on page 1. There are <strong>10</strong> results per page. Examples:
        <ul>
          <li>https://image-search-andres.glitch.me/imagesearch/bunnies?page1 &nbsp =&gt first page of bunnies images (first ten results) </li>
          <li>https://image-search-andres.glitch.me/imagesearch/bunnies?page2 &nbsp =&gt second page of bunnies images (results 11 to 20) </li>
          <li>https://image-search-andres.glitch.me/imagesearch/bunnies?page3 &nbsp =&gt third page of bunnies images (results 21 to 30) </li>
        </ul>
      </p>
    </main>

  </body>
</html>
